{% extends 'dashboard.html.twig' %}

{% block title %}Order #{{ orderData.id }}{% endblock %}

{% block body %}
    <div class="ui segment">
        <h2 class="ui left floated header">Order #{{ orderData.id }}</h2>
        <div class="ui right floated header">
            <form action="{{ path('app_paypal_order_finalize') }}" method="POST" class="ui form">
                <input type="hidden" name="paypal_id" value="{{ orderData['id'] }}">
                <button class="ui green button" id="finalize">Finalize order</button>
            </form>
        </div>
        <div class="ui clearing divider">
        </div>

        <h3>Order details</h3>
        <table class="ui table">
            <tr>
                <td>PayPal ID</td>
                <td class="collapsing">{{ orderData.id }}</td>
            </tr>
            <tr>
                <td>Finalized</td>
                <td class="collapsing">
                    {% if order.finalized %}
                        <i class="check green big icon"></i>
                        <span>Yes</span>
                    {% else %}
                        <i class="close red big icon"></i>
                        <span>No</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Created At</td>
                <td class="collapsing">{{ order.createdAt | format_datetime('long') }}</td>
            </tr>
        </table>

        <h3>Customer details</h3>
        <table class="ui table">
            <tr>
                <td>Given name</td>
                <td>{{ orderData['payer']['name']['given_name'] }}</td>
            </tr>
            <tr>
                <td>Surname</td>
                <td>{{ orderData['payer']['name']['surname'] }}</td>
            </tr>
            <tr>
                <td>E-mail address</td>
                <td class="collapsing">{{ orderData['payer']['email_address'] }}</td>
            </tr>
        </table>

        <h3>Shipping Label</h3>
        <div class="ui segment">
            <p>
                {{ orderData['purchase_units'][0]['shipping']['name']['full_name'] }}
                <br>
                {{ orderData['purchase_units'][0]['shipping']['address']['address_line_1'] }}
                <br>
                {{ orderData['purchase_units'][0]['shipping']['address']['postal_code'] }}&nbsp;&nbsp;{{ orderData['purchase_units'][0]['shipping']['address']['admin_area_2'] | upper }}
                <br>
                {{ country_name }}
            </p>
            <form action="{{ path('app_paypal_order_update', {paypal_id: orderData['id']}) }}" method="POST" class="ui form">
                <input type="hidden" name="_method" value="PUT">
                <div class="field" style="width: 600px">
                    <label for="">Tracking number</label>
                    <div class="ui action input">
                        <input type="text" name="tracking_number" value="{{ order.trackingNumber }}" required>
                        <button class="ui primary right labeled icon button">
                            <i class="dolly icon"></i>
                            Update tracking number
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <h3>Ordered products</h3>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Name</th>
                <th class="right aligned collapsing">Quantity</th>
                <th class="right aligned collapsing">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        {{ product['name'] }}
                    </td>
                    <td>
                       {{ product['quantity'] }}
                    </td>
                    <td class="right aligned">
                        {{ (product['subtotal']) | format_currency('EUR') }}
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <table class="ui table">
            <tr>
                <td>Subtotal</td>
                <td class="right aligned">
                        {{ (orderData['purchase_units'][0]['amount']['breakdown']['item_total']['value'])|format_currency('EUR') }}
                </td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td class="right aligned">
                        {{ ( orderData['purchase_units'][0]['amount']['breakdown']['shipping']['value'])|format_currency('EUR') }}
                </td>
            </tr>
        </table>

        <div class="ui divider"></div>
        <table class="ui table">
            <tr>
                <td>
                    Total
                </td>
                <td class="right aligned">
                    {{ ( orderData['purchase_units'][0]['amount']['value'])|format_currency('EUR') }}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}