{% extends 'shop/base.html.twig' %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block body %}
    <h2>{{ product.name }}</h2>

    {% for image in product.imagesArray %}
        {% if image == null %}
            <img src="{{ asset('semantic-ui/examples/assets/images/wireframe/image.png') }}" width="256">
        {% endif %}
        <img src="{{ image }}">
        <br>
    {% endfor %}

    <h3>{{ product.price | format_currency('EUR') }}</h3>

    <p>
        {{ product.description }}
    </p>

    <form action="{{ path('app_cart_add') }}" method="POST">
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <label for="" class="label">Quantity</label>
        <select
                {% if product.stock < 1 or max_allowed < 1 %}
                    disabled="disabled"
                {% endif %}
                name="amount"
                class="ui input"
        >
            {% for i in 1..max_allowed %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>

        <button
                class=" {{ product.stock < 1 ? 'red' : 'primary' }}"

                {% if product.stock < 1 or max_allowed < 1 %}
                    disabled="disabled"
                {% endif %}
        >
            {% if product.stock < 1 %}
                SOLD OUT
            {% else %}
                Add to cart
            {% endif %}
        </button>
    </form>
{% endblock %}
