{% extends 'dashboard.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="ui segment">
        <h2 class="ui left floated header">Edit Product</h2>
        <div class="ui clearing divider">
        </div>
        <form action="{{ path('app_product_update', {product: product.id}) }}" method="POST" class="ui form">
            <input type="hidden" name="_method" value="PUT">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name" placeholder="Name" value="{{ product.name }}">
            </div>
            <div class="field">
                <label>Label</label>
                <input type="text" name="label" placeholder="Label" value="{{ product.label }}">
            </div>
            <div class="field">
                <label>Price</label>
                <input type="text" name="price" placeholder="Price" value="{{ product.price }}">
            </div>
            <div class="field">
                <label>Stock</label>
                <input type="number" name="stock" placeholder="Stock" value="{{ product.stock }}">
            </div>
            <div class="field">
                <label>Max allowed per order</label>
                <input type="number" name="max_allowed_per_order" placeholder="Max allowed per order" value="{{ product.maxAllowedPerOrder }}">
            </div>
            <div class="field">
                <label>Description</label>
                <textarea name="description" cols="30" rows="10">{{ product.description  }}</textarea>
            </div>
            <div class="field">
                <label>Images</label>
                <textarea name="images" cols="30" rows="4">{{ product.images }}</textarea>
            </div>
            <button class="ui green button" type="submit">Save Product</button>
        </form>
    </div>
{% endblock %}
